@import url('https://fonts.cdnfonts.com/css/nunito-sans');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;
  margin: 0px !important;
  padding: 0px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px !important;
}

p,
a {
  font-family: 'Nunito Sans', sans-serif !important;
  color: white;
}

.paddingTop {
  padding-top: 5rem;
}

.AnimatedbtnContainer {
  margin: 3rem 0rem;
  position: relative;
}

.AnimatedbtnContainer button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 0px;
  position: relative;
  border-bottom: 2px solid rgb(42, 42, 42);
  cursor: pointer;
  font-size: 15px;
}



.AnimatedbtnContainer hr {
  margin: 0px;
  width: 20px;
  /* height: 1px; */
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
  transition: .5s;
}

.AnimatedbtnContainer:hover hr {
  margin: 0px;
  width: 100%;
  /* height: 1px; */
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
  transition: .5s;
}